p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
body {
	background-image: url(../images/bg.gif);
	margin: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.toptitle01_white_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00478E;
}
.toptitle01_white_bold_margin {
	background-color: #456170;
	font-size: 10pt;
}
.toptitle02_white_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #669ACC;
}
.toptitle02_white_bold_margin {
	background-color: #849DAB;
	font-size: 10pt;
}

.note_caps {
	font-weight: bold;
	text-transform: uppercase;
}

.caution_caps {
	font-weight: bold;
	text-transform: uppercase;
	color: #FF0000;
}
.activity_topbar {
	background-color: #669ACC;
}
.activity_text {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #808080;
}
.activity_bold {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #808080;
	font-weight: bold;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #003399;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
		color: #003399;
		text-decoration: underline;
		}

a:visited {
		color: #003399;
		text-decoration: underline;
		}
.bold {
	font-weight: bold;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

table.tablestyle {
	border: none; border: 1px solid #000000; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 0px;
	padding:5px;
}
table.tablestyle td { 
    border: none; border: 1px solid #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding:5px;	
}

 


